* {
  background-color: #23272a;
  color: #ffffff;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  text-align-last: center;
}

#title,
#createdBy,
#board {
  margin: 10px 0 0 10px;
}

#githubIMG {
  width: 30px;
  height: auto;
}
.handle {
  color: white;
  font-weight: bold;
}
#more {
  float: right;
  background-color: #7289da;
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin-right: 10px;
  border: solid #7289da 2px;
  border-radius: 8px;
  font-size: 1em;
  outline: none;
}
#board {
  background-color: #23272a;
  color: #707070;
  padding: 0.3em 10% 0.3em 0;
  margin-right: 1%;
  border: solid white 2px;
  border-radius: 8px;
}
#searchTerm {
  padding: 0.3em 5% 0.3em 10px;
  margin-right: 1%;
  border: solid white 2px;
  border-radius: 8px;
}
#searchBTN {
  background-color: #7289da;
  padding: 0.3em 10% 0.3em 10px;
  border: solid #7289da 2px;
  border-radius: 8px;
  outline: none;
}
#resultNum {
  margin-left: 0.5em;
}

#foundTicket,
#foundMaster {
  margin: 20px;
}
.ticket {
  margin-bottom: 0.7em;
}

.masterBTN {
  background-color: #7289da;
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin: 1% 1% 1% 0.5em;
  border: solid #7289da 2px;
  border-radius: 5px;
  font-size: 1em;
  outline: none;
}
