* {
  background-color: #23272a;
  color: #ffffff;
}
.navbar-toggler {
  color: white;
  background-color: #7289da;
  border: none;
  outline: none;
}
.nav-item {
  padding: 2px;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  text-align-last: center;
}

#title,
#board {
  margin: 10px 0 0 10px;
}

#githubIMG {
  width: 30px;
  height: auto;
}
.handle {
  color: white;
  font-weight: bold;
}
#more:hover {
  background-color: #7289da;
  padding: 0.4em;
  margin-right: 10px;

  font-size: 1em;
  outline: none;
  color: white;
}
#more {
  background-color: #23272a;
  padding: 0.4em;
  margin-right: 10px;
  border: none;
  font-size: 1em;
  color: #23272a;
  outline: none;
}

#board {
  background-color: #23272a;
  color: #707070;
  padding: 0.3em 10% 0.4em 0px;
  margin-right: 1%;
  border: solid white 2px;
}
#searchTerm {
  padding: 0.3em 5% 0.4em 10px;
  border: solid white 2px;
}
#searchBTN {
  border: solid white 2px;
  outline: none;
  height: 2.5em;
  margin-bottom: 3px;
  margin-left: -10px;
}
#resultNum {
  margin-left: 0.5em;
}

#foundTicket,
#foundMaster {
  margin: 20px;
}
.masterBTN {
  background-color: #7289da;
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin: 1% 1% 1% 0.5em;
  border: solid #7289da 2px;
  border-radius: 5px;
  font-size: 1em;
  outline: none;
}

.ticket {
  margin-bottom: 0.7em;
  background-color: #2d2d2e;
  padding: 15px;
}
.trelloLink {
  float: right;
  color: #0079bf;
}
.archived {
  float: right;
  color: goldenrod;
  background-color: #2d2d2e;
  margin-top: 2px;
  margin-right: 5px;
}
.p0 {
  float: right;
  color: #eb5a46;
  background-color: #2d2d2e;
  margin-top: 2px;
  margin-right: 5px;
}
.p1 {
  float: right;
  color: #ff9f1a;
  background-color: #2d2d2e;
  margin-top: 2px;
  margin-right: 5px;
}
.p2 {
  float: right;
  color: #f2d600;
  background-color: #2d2d2e;
  margin-top: 2px;
  margin-right: 5px;
}
.p3 {
  float: right;
  color: #61bd4f;
  background-color: #2d2d2e;
  margin-top: 2px;
  margin-right: 5px;
}
.p4 {
  float: right;
  color: #c377e0;
  background-color: #2d2d2e;
  margin-top: 2px;
  margin-right: 5px;
}
.high {
  float: right;
  color: #ff78cb;
  background-color: #2d2d2e;
  margin-top: 2px;
  margin-right: 5px;
}
.mid {
  float: right;
  color: #51e898;
  background-color: #2d2d2e;
  margin-top: 2px;
  margin-right: 5px;
}
.low {
  float: right;
  color: #00c2e0;
  background-color: #2d2d2e;
  margin-top: 2px;
  margin-right: 5px;
}
.info {
  float: right;
  color: #0079bf;
  background-color: #2d2d2e;
  margin-top: 2px;
  margin-right: 5px;
}
.mod {
  float: right;
  color: white;
  background-color: #2d2d2e;
  margin-top: 2px;
  margin-right: 5px;
}
