* {
  background-color: #23272a;
  color: #ffffff;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  text-align-last: center;
}

#title,
#createdBy,
#board {
  margin: 10px 0 0 10px;
}

#githubIMG {
  width: 30px;
  height: auto;
}
#handle {
  color: white;
  font-weight: bold;
}

#board {
  background-color: #23272a;
  color: #707070;
  padding: 0.3em 10% 0.3em 0;
  margin-right: 1%;
}
#searchTerm {
  padding: 0.3em 5% 0.3em 10px;
  margin-right: 1%;
}
#searchBTN {
  background-color: #7289da;
  padding: 0.3em 10% 0.3em 10px;
}
#resultNum {
  margin-left: 0.5em;
}

#foundTicket {
  margin: 20px;
}
.ticket {
  margin-bottom: 0.7em;
}
